.suggestionsRow {
  height: 60px;

  td {
    padding-top: 20px;
    .access {
      font-size: 0.75rem;
      font-weight: bold;
      display: inline-block;
      padding: 5px;
      min-width: 50px;
      border-radius: 4px;
      text-transform: capitalize;
      text-align: center;
      &.easy {
        background-color: #c0e2c6;
      }
      &.mid {
        background-color: #cebdb0;
      }
      &.hard {
        background-color: rgb(247, 137, 137);
      }
    }
  }
}

.reasonRow {
  margin: 0;
  height: 0;
  opacity: 0;
  transition: height 0.8s ease, opacity 0.7s ease;
  border-bottom: 1px solid #dadada;

  &.active {
    opacity: 1;
    margin: 10px;
    height: 100px;
  }
  .reasonText {
    font-weight: 800;
    font-style: italic;
    color: #b73c3c;
  }
}
.priority__container {
  display: flex;
  padding-left: 5px;
  align-items: center;
  height: 20px;
  width: 70px;
  border: 1px solid red;
  border-radius: 12px;
  .priority__marker {
    margin: 1px;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #ff970c;
    border-radius: 50%;
  }
}

.expand-btn {
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
  width: 35px;
  justify-content: center;
  height: 35px;
  border-radius: 50%;
  .reverse {
    transform: rotate(180deg);
  }
  &:hover {
    background-color: #dadada;
  }
}
