@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

$accent-color: #61c7b3;
$color-text: #1a1a1a;
$color-light-grey: #efefef;
$color-dark-grey: #888;
$sidebar-background: #1d2127;
$sidebar-text-color: #abb4be;
$sidebar-dark-text-color: #465162;

$sidebar-width: 110px;
$sidebar-padding: 10px;
