.suggestionsTable {
  width: 100%;
  max-width: 1600px;
  margin-top: 50px;
  font-size: 0.9rem;
  border-collapse: collapse;
  thead {
    tr {
      height: 80px;
      font-weight: 700;
    }
  }
}

.expand-btn {
  cursor: pointer;

  &:hover {
  }
  &.reverse {
    transform: rotate(180deg);
  }
}
