.suggestionsTable {
  width: 100%;
  margin-top: 50px;
  font-size: 0.9rem;
  border-collapse: collapse;
  thead {
    tr {
      height: 80px;
      font-weight: 700;
    }
  }
  tbody {
    tr {
      height: 60px;
      border-bottom: 1px solid #dadada;
    }
  }
}

.expand-btn {
  cursor: pointer;
}
